.root {
	-fx-border-color: black;
	-fx-background-color: gray;
}

#toolbar {
	-fx-background-color: gray;
}

#seperator {
	-fx-background-color: gray;
}

#table-view {
	-fx-background-color: gray;
}

.minimize-button {
	-fx-background-radius: 0px;
	-fx-background-color: gray;
	-fx-font-size: 12px;
}

.minimize-button:hover {
	-fx-background-color: white;
}

.maximize-button {
	-fx-background-radius: 0px;
	-fx-background-color: gray;
	-fx-font-size: 15px;
}

.maximize-button:hover {
	-fx-background-color: white;
}

.close-button {
	-fx-background-radius: 0px;
	-fx-background-color: gray;
	-fx-font-size: 16px;
	-fx-font-family: "Eras Medium ITC";
}

.close-button:hover {
	-fx-background-color: red;
}

.new-button {
	-fx-background-color: gray;
}

.edit-button {
	-fx-background-color: gray;
}

.open-button {
	-fx-background-color: gray;
}

.save-button {
	-fx-background-color: gray;
}

.okay-button {
	-fx-background-color: gray;
}

.okay-button:hover {
	-fx-background-color: white;
}

.cancel-button {
	-fx-background-color: gray;
}

.cancel-button:hover {
	-fx-background-color: white;
}

.help-button {
	-fx-background-color: gray;
}

.table-column {
	-fx-background-color: gray;
}