#titlebar {
	-fx-border-color: black;
	-fx-background-color: gray;
}

#toolbar {
	-fx-background-color: gray;
}

#seperator {
	-fx-background-color: gray;
}

#table-view {
	-fx-background-color: gray;
}

.new-button {
	-fx-background-color: gray;
}

.edit-button {
	-fx-background-color: gray;
}

.open-button {
	-fx-background-color: gray;
}

.save-button {
	-fx-background-color: gray;
}

.help-button {
	-fx-background-color: gray;
}

.table-column {
	-fx-background-color: gray;
}